body {
  font-family: sans-serif;
  background-color: rgb(255, 255, 255);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

.MuiPaper-root {
  background-color: '##ffce0766';
}

form div {
  margin: 1em;
  display: inline-block;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
h1 {
  margin: 0;
  padding: 0;
}

.searchbar-input-button-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.searchbar-input-button-container > input {
  height: 1.5rem;
}
.searchbar-input-button-container > button {
  width: 70px;
}

.searchbar-results-container {
  position: absolute;
  top: 50%;
  background-color: white;
  border: 1px solid black;
  z-index: 50;
  border-radius: 5px;
  max-width: 700px;
}

.product-search-container {
  max-height: 4rem;
  display: flex;
  flex-direction: row;
  padding: 10px;
  cursor: pointer;
  border: solid 1px lightgray;
  /* position: relative; */
  /* z-index: 1000; */
  max-width: 800px;
  align-items: center;
  justify-content: space-evenly;
}

.product-search-subdiv {
  display: flex;
  flex-direction: row;
  max-height: 4rem;
  justify-content: center;
  align-items: center;
}

.product-search-image {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 5px;
}

.product-search-name {
  align-items: center;
  justify-content: center;
}

.product-search-category {
  border-radius: 5px;
  color: white;
  background-color: gray;
}

.product-search-rating {
  color: yellow;
  background-color: lightgray;
}
.filterBar {
  display: flex;
}

.disUser {
  justify-items: flex-end;
  text-align: right;
}

.add-prod-form {
  border: solid 1px black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  max-width: 50vh;
}

.add-prod-form > * {
  text-align: center;
  margin: 2px;
  align-items: center;
  justify-content: center;
}

.add-prod-description-input {
  height: 5rem;
  width: 20rem;
}

.add-prod-img-preview {
  height: 7rem;
  width: 7rem;
  border-radius: 10px;
}

.add-department-form {
  border: solid 1px black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  max-width: 50vh;
}

.add-category-form {
  border: solid 1px black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  max-width: 50vh;
}

.submit-error {
  color: tomato;
}

.checkout {
  align-self: center;
  border: solid 1px black;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  min-width: 250px;
}
input {
  margin: 0.5rem;
  align-self: flex-end;
}
label {
  align-self: flex-end;
}
#app {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
}
