body {
  font-family: sans-serif;
  background-color: Gainsboro;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
.allProducts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.listProduct {
  display: flex;
  flex-direction: column;
  border: solid 2px black;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
  width: 400px;
}
img {
  width: 150px;
  height: 150px;
}
a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
h1 {
  margin: 0;
  padding: 0;
}
